:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --color-footer-mail-tel: rgba(255, 255, 255, 0.6);
    --color-logo: #000000;
    --main-background: #F5F5F5;
    --background-hiro-footer: #2F303A;
    --background-comand: #F5F4FA;
    --main-font: 'Roboto', sans-serif;
    --main-white-color: #FFFFFF;

    
}
   /*основной цвет #212121 */
   /*дополнитеный цвет #757575 */
   /*акцентный цвет #2196F3 */
   /* цвет футер mail tel rgba(255, 255, 255, 0.6) */
   /* цвет логотипа #000000*/
   /* основной фон background: #F5F5F5 */
   /* фон героя футер #2F303A*/
   /* фон команды #F5F4FA*/
   /* осноной светлый цвет #FFFFFF*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: var(--main-font); 
    color: var(--main-color);
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding: px 15px;
    margin: 0 auto;
 
}
/* Universal classes */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-logo);
    text-decoration: none;

    
}
.logo-color {
    margin-bottom: 28px;
    display: block;

    font-family: Raleway;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-white-color);

}
.logo-style {
    color: var(--accent-color);
}

.section {
    margin-top: 94px;
    margin-bottom: 94px;
}
.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
}
.link:hover,
.link:focus {
    color: var(--accent-color);   
}
.list {
    list-style: none;
}
.btn {
    background: var(--accent-color);
    color: var(--main-white-color);
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 32px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.btn:hover,
.btn:focus {
    background: #188CE8;
}
.title {
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}    
.subtitle {
    margin-bottom: 10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-color);
}
.text {
    

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}    
/* -----------HEADER----------- */
.main-nav {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    
}

.header-nav {
    display: flex;
    margin-left: 93px;
}
.header-nav li {
    margin-right: 50px;
    
}
.header-nav li:last-child {
    margin-right: 0;}




.header-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
}    

.header-nav .list {
    cursor: pointer;
}    
.header-nav .link .current {
    color: var(--accent-color);
}

.header-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }
.contact-nav {
    display: flex;
    margin-left: auto;
}
.contact-nav a {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-nav li {
    margin-right: 50px;
    
}
.contact-nav li:last-child {
    margin-right: 0;
}

.contact-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }
/* -----------HERO----------- */
.hero {
    background: var(--background-hiro-footer);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-background);
}
/* -----------FEATURES----------- */
.feature-list {
    background: var(--main-background);
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
.feature-list li {
    width: 270px;
    margin-right: 30px;
    
}
.feature-list li:nth-child(4n) {
margin-right: 0;
}

.feature-list .title {
    margin-bottom: 10px;
}
/* -----------SECTION----------- */
.section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-color);
}
.section-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--main-background);
}

.section-list li {
    margin-right: 30px;
}
.section-list li:nth-child(3n) {
    margin-right: 0;
}

/* -----------TEAMS----------- */
.team-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    
    background: var(--background-comand);
}
.team-list li {
    margin-right: 30px;
}

.team-list li:nth-child(4n) {
    margin-right: 0;
}
.team-info {
    text-align: center;
    margin-top: 30px;
    
}
/* -----------FOOTER----------- */
.footer-basement {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--background-hiro-footer);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }   
.footer-adress {
    margin-bottom: 12px;
    display: block;

    color: var(--main-white-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.adress-list a {
    margin-bottom: 12px;
    display: block;

    color: var(--color-footer-mail-tel);
    text-decoration: none;
}    

/* -----------PORTFOLIO----------- */
.button-list {
    background: var(--main-background);
    display: flex;
    }


.filter-btn {
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--main-color);
    background: var(--background-comand);
}
.btn-click :hover,
.btn-click :focus {
    color: var(--main-white-color);
    background: var(--accent-color);
    
}
.portfolio-list {
display: flex;
flex-wrap: wrap;
padding-left: 15px;
padding-right: 15px;
}

.portfolio-item {
flex-basis: calc(100% / 3 - 60px);
margin-right: 30px;
margin-bottom: 30px;
}
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}
.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.potfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}
.potfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}





    
    
    
    
    

    
    


    

    